#body{
  display: flex;
  max-width: 100%;
}

.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #be6363;
  color: #fff;
  padding: 10 20px;
}

.Header h1{
  padding: 10px;
}
.Header ul{
  display: flex;
}
.Header ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  color: #fff;
  cursor: pointer;
  
}